{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>NotePlatForm</title>
  </head>
  <body>
    <h3>{{ request.user.username }} </h3>
    <ul>
      <button onclick="location.href='/upload/index/'" type="button">Note Page</button>
      <button onclick="location.href='/person/index/'" type="button">person</button>

      {% for p in profile %}
      <p>{{ p.school }}</p>
      <p>{{ p.birth }}</p>
      <p>{{ p.intro }}</p>
      {% endfor %}

    </ul>
    <button onclick="location.href='/login/logout/'" type="button">Logout</button>
  </body>
</html>
