body {
  background: #f0eec9;
  background-repeat: no-repeat;
  background-size: cover;
}
.notePage {
  margin-left: 20%;
  margin-right: 20%;
}
.note {
  background: #ffffff;
  border-radius: 8px;
  border-style:solid;
  border: 0px;
  margin: 10px;
}
button{
  width: auto;
  height: auto;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 0px;
 }
