body {
  background: #f0eec9;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: #07a4b5;
  font-size: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.reg {
  width: 350px;
  height: 100px;
  position:relative;
  margin: auto;
  text-align:center;
}
.buttonBox {
  width:550px;
  height:50px;
  padding-top: 8%;
  padding-left: 12.5%;
  margin-bottom: 20px;
}
.box {
  width:550px;
  height:auto;
  position:relative;
  margin: auto;
  background: #4ba2ac;
  border-radius: 8px;
}

.form {
  padding-top: 15%;
}
label {
  color: #000000;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding-right: 20px;
  width:140px;
}
input
{
  width: 276px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  color : #000000;
  background-color: transparent;
  border-radius: 4px;
  border-style:solid;
}
.in label input div{
  width:500px;
  height:500px;
  display: inline;
}
.in {
  margin-bottom: 15px;
  color : #000000;
  padding-left: 12.5%;
}

.register h1 button div textarea{
  width:500px;
  height:500px;
  display: inline;
}
button {
  width: 210px;
  height: 45px;
  font-size: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 0px;
}
form button {
  height: 40px;
  width: 400px;
  background-color: #50c9ba;
  border: 0px;
  font-size: 28px;
  margin-top: 10%;
  margin-left: 14%;
  margin-bottom: 10%;
}

h4 {
  color: #ff0000;
}
li {
  color: #ff0000;
}
textarea {
  background-color: transparent;
  border-style:solid;
  border-color: #000000;
  border-radius: 4px;
  border-width: 2px;
  font-size: 20px;
  height: 150px;
}
