
{% if note.user.id == request.user.id and request.path == '/person/index/' %} <!-- 只有自己可以刪除自己的筆記 -->
<button type="button" class="ui basic icon button delete" id='{{note.idnote}}'>
  <i class="trash icon"></i>
</button>
{% endif %}
<!-- Modal -->
<div class="ui mini modal deletemodal">
    <div class="header">Delete Note</div>
    <div class="content">
      <p>Are you sure to delete this note?</p>
    </div>
    <div class="actions">
      <button class="ui  green button deleteTag" id="1">Yse</button>
      <button class="ui button deleteTag" id="0">No</button>
    </div>
  </div>

