<head>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
    var simplemde;
    /*svar text = "{{ notetext }}";
    text = text.replace(/&quot;/g,'"');
    text = JSON.parse(text);
    console.log(text);*/
    $(document).ready(function(){
        simplemde = new SimpleMDE({ element: document.getElementById("MyID") });
        //simplemde.value("{{ notetext.0 }}");
    });
    function change(index){
      //simplemde.value(""+text[index-1].fields.note+"");
      simplemde.value(index);
    }

  </script>
  <!--
<script type="text/javascript">
  $(function(){
      $("#submit").click(function(){
        var mes = $("#message").val();
          $.ajax({
              url: '/upload/refresh/{{noteid}}/',
              type : "POST",
              dataType : 'JSON',
              data : mes,
              success : function(data) {
                 append("  {% csrf_token %}")
              },
              error: function(error) {
                  alert(error);
              }
          })
      });

  });
</script>
-->
   <!--<link rel="stylesheet" href="./explain.css">-->
  <title>detail</title>
</head>

{% block body %}
<button onclick="location.href='/upload/edit/{{noteid}}/'" type="button">Edit</button>
<div class="ui ordered list" id='root'>
{% for n in notelist %}
    <div class="item one"s onclick='change("{{ n.note }}")'>
      <a>{{ n.list_text }}</a>
    </div>
{% endfor %}
</div>


<textarea id="MyID" style="width:600px;"></textarea>


{% endblock %}
<form>
    {% csrf_token %}
{% for m in message %}

  {% if m.note_id == noteid %}
    <li>{{m.message}}</li>
  {% endif %}
{% endfor %}
</form>

{% block content %}
<form action="." method="POST" name="form2" >
  {% csrf_token %}
  <div>  <input type="text" name="message"/> </div>
  <input type="submit" value="送出資料"/>
</form>
{% endblock %}
