
<h2>Note Page</h2>
<button onclick="location.href='../post/'" type="button">upload</button>
{% block body %}

{% for n in note %}
<div style="margin:10px; border:1px solid;">
  <span><b>User: </b>{{n.user.username}}</span>
  <h4>{{n.title}}</h4>
  <span><b>Intro: </b>{{n.intro}} </span>
  <button onclick="location.href='../detail/{{ n.idnote }}/'" type="button">deatil</button>
  {% if n.permission == 1 or n.user_id == request.user.id%}
  <button onclick="location.href='../update/{{ n.idnote }}/'" type="button">edit</button>
  {% endif %}
</div>
{% endfor %}

{% endblock %}
