<script>
    $(document).ready(function(){

        $('.like').click(function(){
          console.log("Click")
          var noteid = $(this).attr("id")
          var text = ".like#"+noteid+" .liketext"
          var btn = ".like#"+noteid
          $.ajax({
            url: '/upload/addLike/',
            type: "POST",
            data: {"id": noteid },
            dataType: 'json',
            success: function(data) {
              if (data==1){

                console.log(text)
                $(text).text("已收藏")
                $(btn).removeClass("Basic")
                $(btn).addClass("Blue")
                alert("success!");
              }
              else {
                if(window.location.href.indexOf("/person/Myfavorite") > -1)
                {
                  $("#"+noteid).closest('.removecard').remove()
                  console.log("Removing")
                  event.preventDefault()
                  return;
                }
                console.log(data + "remove")
                $(text).text("收藏")
                $(btn).removeClass("Blue")
                $(btn).addClass("Basic")
              }
            }
          });
        });

        // 刪除筆記
        $('.delete').click(function(){
          var delid =$(this).attr("id");
          $('.deletemodal').modal('toggle');

        //  alert(delid)
          $('.deleteTag').click(function(){
            var tag = $(this).attr("id");
            //alert(tag);
            if(tag==1){
              $.ajax({
                url: '/upload/deleteNote/',
                type: "POST",
                data: {"id": delid },
                dataType: 'json',
                success: function(data) {
                   location.reload();
                }
              })
            }
            else{
              location.reload();
            }
          });
        });
      })
  </script>
  <style type="text/css">
     .note:hover{
      top: -5px;
     }
  </style>

{% for note in note %}
<div class="four wide column removecard">
  <div class="note ui card" style="cursor:pointer;" >
      <div class="content">
        {% if note.user.first_name == '' %}
            <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/large/elliot.jpg">'
          
        {%else%}
        <img class="ui avatar image" src="/media/{{note.user.first_name}}">
        {%endif%}
        
          {{note.user.username}}
          <!-- 刪除筆記的button -->
          <div class="right floated" style="margin-left: 5px;" >
              {% include 'upload/delete_template.html' %}
          </div>
          <div class="right floated meta" style="margin-top: 4px;">
            <span> 14h</span>
          </div>

      </div>
   
      <div class="content" onclick="location.href='http://140.136.150.93:3000/note/{{note.idnote}}/1/';">
          <h3 class="center aligned">{{note.title}}</h3>
          <h5 class="center aligned">{{ note.intro }}</h5>
      </div>

      <div class="content">
        <div class="list">
          <div class = "item">
            {{note.field}}
          </div>
          <div clas="item">
            {{note.subjects}}</div>
        </div>
      </div>
      <div class="content">

          {%if note.idnote in fav or request.path == "/person/Myfavorite/" %}
          <button class="ui right labeled icon button Mini Blue left floated like" id='{{note.idnote}}'>
              <i class="bookmark icon"></i><span class="liketext">已收藏</span>
          </button>
          {% else %}
          <button class="ui right labeled icon button Mini Basic left floated like" id='{{note.idnote}}'>
              <i class="bookmark icon"></i><span class="liketext">收藏</span>
          </button>
          {% endif %}

        <!--  <input id="like" type='submit' value="add Like" onclick="style">-->
        <div class="right floated">

          <!--<button class="ui left floated button delete" id='{{note.idnote}}'>delete</button>-->
          {%if note.permission == '2'  %}
            <i class="globe icon"></i>公開
          {% elif note.permission == '0' %}
            <i class="ban icon"></i>私人
          {% else %}
            <i class="user icon"></i>非公開
          {% endif %}
        </div>
      </div>
  </div>
</div>
{% endfor %}
