

<form action="." method="POST">
  <!-- title search -->
  <div class="ui action input">
    <input type="text" placeholder="Search..." name='searchNote'>
    <button class="ui button">Search</button>
  </div>
  <!-- tag search  -->
  <div class="ui fluid multiple search selection dropdown">
    <input name="searchTags" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Search from tags...</div>
      <div class="menu">
        {% for s in subject %}
          <div class="header">{{s.text}}</div>
          {% for b in s.field %}
            <div class="item" data-value="{{b.value}}">{{b.text}}</div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  <button class="fluid ui button CreateTeam">Fits container</button>
</form>
