<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>表單傳送範例</title>
</head>
<body>
    <form action="." method="POST" name="form1">
        {% csrf_token %}  <!-- 啟動CSRF防護，保護伺服器避免被攻擊 -->
        <div>使用者:   <input type="text" name="user_id"></div>
        <div>標題：    <input type="text" name="title"></div>
        <div>領域：    <input type="text" name="field"></div>
        <div>科目：    <input type="text" name="subjects"></div>
        <div>教科書：  <input type="text" name="textbook"></div>
        <div>簡介：    <input type="text" name="introduction"></div>
        <div>權限      <input type="radio" name="permission" value="1" checked="checked"/>可共編
                        <input type="radio" name="permission" value="0"/>不可共編 </div>
        <input type="submit" value="送出資料">

    </form>
</body>
</html>
