<!--<html>
  <h1>Person</h1>
  <button onclick="location.href='../note/'" type="button">note</button>
  <button onclick="location.href='../profile/'" type="button">profile</button>
</html>-->
{% load staticfiles %}
<html>
  <head>
    <title>NotePlatForm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <style type="text/css">
    </style>
  </head>
  <h2>{{request.user.username}}'s Note</h2>
  <button onclick="location.href='/upload/create/'" type="button">Create New Note</button>
  <button onclick="location.href='../upload/'" type="button">uploadPhoto</button>
  <button onclick="location.href='../Myfavorite/'" type="button">Myfavorite</button>
  <div>
    <div class="notePage ui grid container">
      {% include 'upload/note_template.html' %}
    </div>
  </div>

</html>
