{%if plan|length == 0 %}
<h2 class="ui icon center aligned header" style="height: 80%; margin-top: 100px;">
        <i class="columns icon"></i>
        <div class="content">
          Oops! You dont have any plan
          <div class="sub header">Pleae click "+ Plan" to create a plan</div>
        </div>
</h2>
{%else%}
<div style="overflow: scroll; width: auto; white-space: nowrap;height: 80%;">
    {% for p in plan %}
    <div style="width: 200px; display: inline-block; vertical-align:top; margin: 5px;">
        <div style="background-color: #D5DBDB;">
            <h2 class=" ui centered header" style="color: #34495E; background-color: dodgerblue; padding: 5px;">
              {{ p.name }}
            </h2>

            <div class="ui grid container sortable sortlist" style="min-height: 60px; ">
                {% for pd,n in plancard %}
                    {%if p.idplan == pd.plan_id %}
                     <div  style=" background: white; padding: 5px 0px 10px 0px; width:200px; margin: 0px;">
                        <div class="ui card StackedListItem--isDraggable">
                            <div class="content centered" style="overflow: hidden;">
                                 <div class="header">{{n.title}}</div>
                                 <div class="meta">{{n.intro}}</div>
                            </div>
                            <div class="content">
                                <div class="description"> Start:
                                    <a class="ui mini gray basic label">

                                        <i class="calendar alternate outline icon"></i>
                                        {{pd.start}}
                                    </a> </div>
                                <div class="description">End:
                                    <a class="ui tiny gray label">
                                        <i class="calendar alternate icon"></i>
                                        {{pd.end}}
                                </a> </div>
                            </div>
                            <div class="extra content">
                                <span class="right floated">
                                        <i class="user icon"></i>
                                        yyu
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
    </div>
    {% endfor %}
</div>
{%endif%}