
<div class="ui secondary vertical menu">
  <div class="item">
      <button class="positive ui button centered big createnote" onclick=" $('.imgmodal').modal('show');">
          <i class="user circle icon"></i>
          uploadImg
      </button>
    </div>
  <div class="item">
      <button class="positive ui button centered big createnote" onclick=" $('.createmodal').modal('show');">
          <i class="plus square icon"></i>
          CreateNote
      </button>
    </div>
    {%if "/person/index" in request.path %}
  <a class="active item" href="/person/index/">
    MyNote
  </a>
  {%else%}
  <a class="item" href="/person/index/">
    MyNote
  </a>
  {%endif%}
  {%if "Myfavorite" in request.path %}
  <a class="active item" href="/person/Myfavorite/">
    Favorite
  </a>
  {% else %}
  <a class="item" href="/person/Myfavorite/">
    Favorite
  </a>
  {%endif%} 

</div>
<div class="ui secondary vertical menu">
    <div class="item">
        <button class="positive ui button centered Big createnote" onclick="$('.groupmodal').modal('show');" >
        <i class="users icon"></i>
         AddGroup
        </button>
    </div>

    {% for g in group %}
        {%if g.idgroup|slugify in request.path %}
        <a class=" active item" href="/person/Team/Calender/{{g.idgroup}}">
          <i class="hand point right outline icon"></i>
          {{g.name}}
        </a>
        {%else%}
        <a class="item" href="/person/Team/Calender/{{g.idgroup}}">
          <i class="hand point right outline icon"></i>
          {{g.name}}
        </a>
        {%endif%}
    {% endfor %}
</div>
