{% extends 'person/appbase.html' %}
{% load static %}
{% block content %}

<div class="ui two column grid centered">
  <div class="three wide column">
    {%include 'person/sidemenu.html' %}
  </div>
  <div class="eleven wide column" style="background-color: white">
    <div class="ui secondary pointing menu ">
      {%if "/person/Team/Calender/" in request.path %}
      <a class="item active" href="/person/Team/Calender/{{teamid}}">
        Calender
      </a>
      {%else%}
      <a class="item" href="/person/Team/Calender/{{teamid}}">
        Calender
      </a>
      {%endif%}

      {%if "/person/Team/Planner/" in request.path %}
      <a class="item active" href="/person/Team/Planner/{{teamid}}">
        Planner
      </a>
      {%else%}
      <a class="item" href="/person/Team/Planner/{{teamid}}">
        Planner
      </a>
      {%endif%}
      <a class="item ">
        Messege
      </a>
      {%if "/person/Team/Planner/" in request.path %}
      <div class="right floated item">
          <button class="positive ui basic button centered" onclick="$('.planmodal').modal('show');" >
          <i class="plus icon"></i>
           AddPlan
          </button>
      </div>
      {% endif %}
    </div>
    <div class="ui basic segment"  >
      {%if "/person/Team/Calender/" in request.path %}
        {%include "person/Calender.html" %}
      {%elif "/person/Team/Planner/" in request.path %}
        {%include "person/Planner.html" %}
      {%endif%}
    </div>
  </div>

</div>
{% include 'upload/create_note.html' %}
{% include 'person/addPlan.html' %}
{% include 'person/addPlandetail.html' %}
{% endblock %}
