{% extends 'person/appbase.html' %}
{% load static %}
{% block content %}

<div class="ui two column grid centered">
  <div class="three wide column">
    {%include 'person/sidemenu.html' %}
  </div>
  <div class="eleven wide column" style="background-color: white">
    <div class="ui secondary pointing menu ">
      {%if "/person/Team/Calender/" in request.path %}
      <a class="item active" href="/person/Team/Calender/{{teamid}}">
        Calender
      </a>
      {%else%}
      <a class="item" href="/person/Team/Calender/{{teamid}}">
        Calender
      </a>
      {%endif%}

      {%if "/person/Team/Planner/" in request.path %}
      <a class="item active" href="/person/Team/Planner/{{teamid}}">
        Planner
      </a>
      {%else%}
      <a class="item" href="/person/Team/Planner/{{teamid}}">
        Planner
      </a>
      {%endif%}
      
      {%if "/person/Team/Message/" in request.path %}
      <a class="item active" href="/person/Team/Message/{{teamid}}">
        Message
      </a>
      {%else%}
      <a class="item" href="/person/Team/Message/{{teamid}}">
        Message
      </a>
      {%endif%}

      {%if "/person/Team/Planner/" in request.path %}
      <div class="right floated item">
          <button class="tiny ui teal basic button centered" onclick="$('.planmodal').modal('show');" >
          <i class="plus icon"></i>
           Plan
          </button>
      </div>
      <div class="item">
        <button class="tiny ui teal basic button" onclick="$('.plandetailmodal').modal('show');">
          <i class="plus icon"></i>
            Card
        </button>
      </div>
      <div class="item">
        <button class="tiny ui teal button" onclick="">
           UPDATE
        </button>
      </div>
      {% endif %}
    </div>

    <div class="ui segment">
      {%if "/person/Team/Calender/" in request.path %}
        {%include "person/Calender.html" %}
      {%elif "/person/Team/Planner/" in request.path %}
        {%include "person/Planner.html" %}
      {%else%}
       <iframe src= 'http://localhost:3000/message/{{teamid}}' width="800px" height="500px"></iframe>
      {%endif%}
    </div>
  </div>

</div>
{% include 'upload/create_note.html' %}
{% include 'person/addPlan.html' %}
{% include 'person/addPlandetail.html' %}
{% include 'person/create_group.html' %}
{% include 'person/uploadImg.html' %}
{% endblock %}
